{% extends 'base.html' %}
{% load static %} 
{% block acc %}
{% endblock %}
{% block body %}
<body id="body" style="opacity:0; background-size: cover; background-image: url('{% static 'image/iniad.jpg' %}')" class="d-flex flex-column min-vh-100">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-lightblue">
{% endblock %}
{% block content %}
<div class="text-center">
<h1 style="padding-left:50px;">Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"  class="btn btn-primary" value="Login">
</form><br>
<p style="display:inline; font-size: 15px; ">Not registered?</p>
<a style="padding-top:10px; text-decoration: none; font-size:15px;"  href="{% url 'register' %} ">Create an account</a>
</div>
{% endblock %}
{% block footer %}
<footer class="mt-auto" style="text-align: center;">
<p style=" display: inline;  background-color: rgb(211, 211, 211,0.5); color: rgb(71, 70, 70);">A Web Application Project from Group 2 - INIAD 20-24' Class</p> 
{% endblock %}