{% extends 'base.html' %}
{% load static %}
{% block acc %}
{% endblock %}
{% block body %}
<body id="body" style="opacity:0; background-size:cover;background-image: url('{% static 'image/iniad.jpg' %}')" class="d-flex flex-column min-vh-100">
{% endblock %}
{% block content %}

<h1>Change Password</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }} <!-- to render the form as a series of HTML-->
    <input type="submit" value="Change"  class="btn btn-primary">
</form>
<br>
<a style=" text-decoration: none; font-size:15px;" href="{% url 'login' %}">Back to login</a>
{% endblock %}
{% block footer %}
<footer class="mt-auto" style="text-align: center;">
<p style=" display: inline;  background-color: rgb(211, 211, 211,0.5); color: rgb(71, 70, 70);">A Web Application Project from Group 2 - INIAD 20-24' Class</p> 
{% endblock %}