{% extends 'base.html' %}
{% load static %} 
{% block body %}
<body id="body" style="opacity:0; background-size: cover;background-image: url('{% static 'image/iniad.jpg' %}')" class="d-flex flex-column min-vh-100">
{% endblock %}
{% block content %}
<h1>Password changed</h1>
<a href="{% url 'courses' %}">Return to main page</a>
{% endblock %}