<!--base.html-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/adding.css'%}">
  <script type="text/javascript" src="{% static 'js/modifie.js'%}"></script>
  <title>Syllabus</title>
</head>
{% block body %}

<body id="body" style="opacity:0;" class="d-flex flex-column min-vh-100">
  {% endblock %}
  <header style="padding-bottom: 50p;">
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(118, 201, 240);">
      {% endblock %}
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'syllabus' %}">Syllabus</a>
        {% block acc %}
        {% if user.is_authenticated %}
        <div class="btn-group ml-auto" role="group" aria-label="Basic example">
          <a class="btn btn-outline-secondary ml-auto" href="{% url 'logout' %}">Logout</a>
          <a class="btn btn-outline-primary ml-auto" href="{% url 'password_change' %}">Change password</a>
        </div>
        {% else %}
        <a class="btn btn-outline-primary mr-auto" href="{% url 'login' %}">Login</a>
        {% endif %}
        {% endblock %}
        {% block nav-icon %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'courses' %}">My course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'overview' %}">Overview</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </div>
    </nav>

  </header>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script>
    $(function () {
      $("[data-toggle=popover]").popover({
        html: true,
        sanitize: false,
        content: function () {
          content = $(this).attr("data-popover-content");
          return $(content).children(".popover-body").html();
        },
        title: function () {
          title = $(this).attr("data-popover-content");
          return $(title).children(".popover-heading").html();
        }
      });
    });
  </script>

  <!-- Footer -->
  {% block footer %}
  <footer class="mt-auto bg-light">
    <p style=" text-align:center;">A Web Application Project from Group 2 - INIAD 20-24' Class</p>
    {% endblock %}
  </footer>

</body>

</html>