{% extends 'base.html'%}
{% block content %}
<div class="jumbotron text-center" style="background-color:#dcdcdc; padding-bottom:20px;">
  <h1>{{course_name}}</h1>
  <h3>{{detail}}.</h3>
</div>
<dl class="row lead">
    <dd class="col-sm-2"></dd>
  <dt class="col-sm-3">Academic Year</dt>
  <dd class="col-sm-7">{{ year }}</dd>
    <dd class="col-sm-2"></dd>
  <dt class="col-sm-3">Professor</dt>
  <dd class="col-sm-7">{{ professor }}</dd>
    <dd class="col-sm-2"></dd>
  <dt class="col-sm-3">Classroom</dt>
  <dd class="col-sm-7">{{ classroom }}</dd>
    <dd class="col-sm-2"></dd>
  <dt class="col-sm-3">Objective</dt>
  <dd class="col-sm-7">{{ content }}</dd>

    <dd class="col-sm-2"></dd>
  <dt class="col-sm-3">Prerequisite</dt>
  <dd class="col-sm-7">{{ prerequisite }}</dd>
</dl>
<a  style="display: block;" class="btn btn-primary" href="{% url 'add' id %}" role="button">
    Add to mine
</a>

{% endblock %}
