{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">My Course</h1>

<br>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th class="col-xs-2">Period</th>
            <th class="col-xs-2">Mon</th>
            <th class="col-xs-2">Tues</th>
            <th class="col-xs-2">Wed</th>
            <th class="col-xs-2">Thurs</th>
            <th class="col-xs-2">Fri</th>
        </tr>
    </thead>
    {% for key,value in course_dict.items %}
    <tr>
        <td class="col-xs-2">{{key}}</td>
        <!-- p0 -->
        {% if value.p0 %}
        <td class="col-xs-2">
            <!-- Popover #1 -->
            <button href="#" class="btn btn-primary" tabindex="0" data-toggle="popover" data-trigger="focus"
                data-popover-content="#a0" data-placement="right">{{value.p0}}</button>


            <!-- Content for Popover #1 -->
            <div id="a0" class="visually-hidden">
                <div class="popover-heading">{{value.p0}} <span style="float:right;cursor:pointer;" class="fa fa-times"
                        data-toggle="popover"></span></div>
                <div class="popover-body">
                    {% for finding in taken_courses %}
                    {% if finding.courses_name == value.p0 %}
                        {% if finding.moocs_url != "none" %}
                        <ul>
                            <a href="{{finding.moocs_url}}"> Moocs</a>
                        </ul>
                        {% endif %}
                        {% if finding.meets_url != "none"  %}
                        <ul>
                            <a href="{{finding.meets_url}}"> Meets</a>
                        </ul>
                        {% endif %}
                        {% if finding.toyo_url != "none" %}
                        <ul>
                            <a href="{{finding.toyo_url}}"> Toyo</a>
                        </ul>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </td>
        {% else %}
        <td class="col-xs-2">{{value.p0}}</td>
        {% endif %}
        <!-- <td><button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="this is {{ value.p1 }}">{{value.p1}}</button></td> -->
        <!-- p1 -->
        {% if value.p1 %}
        <td class="col-xs-2">
            <!-- Popover #1 -->
            <button href="#" class="btn btn-primary" tabindex="0" data-toggle="popover" data-trigger="focus"
                data-popover-content="#a1" data-placement="right">{{value.p1}}</button>


            <!-- Content for Popover #1 -->
            <div id="a1" class="visually-hidden">
                <div class="popover-heading">{{value.p1}} <span style="float:right;cursor:pointer;" class="fa fa-times"
                        data-toggle="popover"></span></div>
                <div class="popover-body">
                    {% for finding in taken_courses %}
                    {% if finding.courses_name == value.p1 %}
                        {% if finding.moocs_url != "none" %}
                        <ul>
                            <a href="{{finding.moocs_url}}"> Moocs</a>
                        </ul>
                        {% endif %}
                        {% if finding.meets_url != "none"  %}
                        <ul>
                            <a href="{{finding.meets_url}}"> Meets</a>
                        </ul>
                        {% endif %}
                        {% if finding.toyo_url != "none" %}
                        <ul>
                            <a href="{{finding.toyo_url}}"> Toyo</a>
                        </ul>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </td>
        {% else %}
        <td class="col-xs-2">{{value.p1}}</td>
        {% endif %}
        <!-- p2 -->
        {% if value.p2 %}
        <td class="col-xs-2">
            <!-- Popover #1 -->
            <button href="#" class="btn btn-primary" tabindex="0" data-toggle="popover" data-trigger="focus"
                data-popover-content="#a2" data-placement="right">{{value.p2}}</button>


            <!-- Content for Popover #1 -->
            <div id="a2" class="visually-hidden">
                <div class="popover-heading">{{value.p2}} <span style="float:right;cursor:pointer;" class="fa fa-times"
                        data-toggle="popover"></span></div>
                <div class="popover-body">
                    {% for finding in taken_courses %}
                    {% if finding.courses_name == value.p2 %}
                        {% if finding.moocs_url != "none" %}
                        <ul>
                            <a href="{{finding.moocs_url}}"> Moocs</a>
                        </ul>
                        {% endif %}
                        {% if finding.meets_url != "none"  %}
                        <ul>
                            <a href="{{finding.meets_url}}"> Meets</a>
                        </ul>
                        {% endif %}
                        {% if finding.toyo_url != "none" %}
                        <ul>
                            <a href="{{finding.toyo_url}}"> Toyo</a>
                        </ul>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </td>
        {% else %}
        <td class="col-xs-2">{{value.p2}}</td>
        {% endif %}
         <!-- p3 -->
         {% if value.p3 %}
         <td class="col-xs-2">
             <!-- Popover #1 -->
             <button href="#" class="btn btn-primary" tabindex="0" data-toggle="popover" data-trigger="focus"
                 data-popover-content="#a3" data-placement="right">{{value.p3}}</button>
 
 
             <!-- Content for Popover #1 -->
             <div id="a3" class="visually-hidden">
                 <div class="popover-heading">{{value.p3}} <span style="float:right;cursor:pointer;" class="fa fa-times"
                         data-toggle="popover"></span></div>
                 <div class="popover-body">
                     {% for finding in taken_courses %}
                     {% if finding.courses_name == value.p3 %}
                         {% if finding.moocs_url != "none" %}
                         <ul>
                             <a href="{{finding.moocs_url}}"> Moocs</a>
                         </ul>
                         {% endif %}
                         {% if finding.meets_url != "none"  %}
                         <ul>
                             <a href="{{finding.meets_url}}"> Meets</a>
                         </ul>
                         {% endif %}
                         {% if finding.toyo_url != "none" %}
                         <ul>
                             <a href="{{finding.toyo_url}}"> Toyo</a>
                         </ul>
                         {% endif %}
                     {% endif %}
                     {% endfor %}
                 </div>
             </div>
 
         </td>
         {% else %}
         <td class="col-xs-2">{{value.p3}}</td>
         {% endif %}
          <!-- p4 -->
        {% if value.p4 %}
        <td class="col-xs-2">
            <!-- Popover #1 -->
            <button href="#" class="btn btn-primary" tabindex="0" data-toggle="popover" data-trigger="focus"
                data-popover-content="#a4" data-placement="right">{{value.p4}}</button>


            <!-- Content for Popover #1 -->
            <div id="a4" class="visually-hidden">
                <div class="popover-heading">{{value.p4}} <span style="float:right;cursor:pointer;" class="fa fa-times"
                        data-toggle="popover"></span></div>
                <div class="popover-body">
                    {% for finding in taken_courses %}
                    {% if finding.courses_name == value.p4 %}
                        {% if finding.moocs_url != "none" %}
                        <ul>
                            <a href="{{finding.moocs_url}}"> Moocs</a>
                        </ul>
                        {% endif %}
                        {% if finding.meets_url != "none"  %}
                        <ul>
                            <a href="{{finding.meets_url}}"> Meets</a>
                        </ul>
                        {% endif %}
                        {% if finding.toyo_url != "none" %}
                        <ul>
                            <a href="{{finding.toyo_url}}"> Toyo</a>
                        </ul>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </td>
        {% else %}
        <td class="col-xs-2">{{value.p4}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
<hr>

<h3>Drop the Course</h3>
<br>
<form action="{% url 'delete' %}" method="POST">
    {% csrf_token %}
    <label for="courses">Choose to drop the course : </label>
    <select name="courses" id="courses">
        {% for c in taken_courses %}
        <option value="{{c.courses_id}}">{{c.courses_name}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Drop the course">
</form>
{% endblock %}