{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<style>
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

    #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(68, 106, 156);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    }

    #myBtn:hover {
    background-color: #555;
    }
</style>
<h1 class="text-center">Overview</h1>
<h6 class="mr-auto" style="font-style: oblique;"><span style="color:red;">Red</span> means taken</h6>
<div id="title">
    <ul class="list-inline">
        <li class="list-inline-item col-sm-4">
            <h2>Course</h2>
        </li>
        <li class="list-inline-item col-sm-3">
            <h2>Schedule</h2>
        </li>
        <li class="list-inline-item col-sm-3">
            <h2>Add</h2>
        </li>
    </ul>
</div>
{% if cours %}
{% for cour in cours %}
<dl class="row" id="course">
    {% if cour in taken %}
    <dt class="col-sm-4" >
        <a style="color: red;"href="{% url 'course_detail' cour.courses_id %}">{{cour.courses_name}}</a></dt>
    {% else %}
    <dt class="col-sm-4"><a href="{% url 'course_detail' cour.courses_id %}" style="text-decoration: none; ">{{cour.courses_name}}</a></dt>
    {% endif %}
    <span class="col-sm-3">
        {% for per in period %}
        {% if per.course_detail == cour %}
        {% for item in week %}
        {% if forloop.counter0 == per.slot|intdiv:6 %}
        {% if per.slot|mod:6 != 0 %}
        <dd>{{item}}<span>, {{per.slot|mod:6 }}th period</span></dd>
        {% else %}
        <dd>{{item}}<span>, 6th period</span></dd>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}

    </span>
    <dd class="col-sm-3 offset-col-sm-3">
        <a class="course-add btn btn-primary" href="{% url 'add' cour.courses_id %}">
            Add to mine
        </a>
    </dd>
</dl>
{% endfor %}
{% endif %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script>
    var mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
{% endblock %}