{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block nav-icon %}

{% endblock %}
{% block body %}
<body id="body" style="opacity:0; background-size: cover;background-image: url('{% static 'image/iniad.jpg' %}')" class="d-flex flex-column min-vh-100">
{% endblock %}
{% block content %}
{% if message %}
<h5 class="text-warning">{{message}}</h5>
{% endif %}
<h1>Register</h1>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="Register">
</form><br>
<a style="font-size: 15px; text-decoration: none;" href="{% url 'login' %}">Back to login</a>

{% endblock %}
{% block footer %}
<footer class="mt-auto" style="text-align: center;">
<p style=" display: inline;  background-color: rgb(211, 211, 211,0.5); color: rgb(71, 70, 70);">A Web Application Project from Group 2 - INIAD 20-24' Class</p> 
{% endblock %}