<!--base.html-->
{% extends 'base.html' %}
{% block acc %}
{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="display-1">
        Syllabus
    </h1>
    <blockquote class="blockquote text-center">
        <p class="mb-3">Access all courses link in a blink of an eye </p>
        <footer class="blockquote-footer">Dedicated to <cite title="Source Title">INIAD students</cite></footer>
    </blockquote>
</div>
<div class="text-center" style="padding-bottom: 10px;">
    <a class="btn btn-primary center" href="{% url 'login' %}" role="button">Log In</a>
</div>
<div class="text-center">
    <a href="{% url 'register' %}" class="btn btn-secondary" role="button" aria-disabled="true">Sign up</a>
</div>
{% endblock %}